/* Google fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* header styles */

.header{
    background-color: #2D25A0;
    padding-top: 40px;
}
.navbar
{
    display: flex;
    justify-content: center;
    column-gap: 350px;
}
.main-menue
{
    padding-top: 15px;
}
.main-menue li
{
    list-style: none;
    display: inline;
    margin-right: 30px;
}
.main-menue li a
{
    text-decoration: none;
    color: #FFFFFF;
}
.main-menue li a:hover
{
    color: #E02C6D;
}
.login
{
    margin-top: 18px;
}
.login i{
    margin-right: 10px;
}
.login a{
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 300px;
    
}
.login a:hover{
    background-color: #FFFFFF;
    color: #E02C6D;
}
.container
{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding: 50px 0;
    
}
.container:hover img{
    transform: rotate(30deg);
    transition: transform 1s;
}
.left-header h1{
    font-size: 64px;
    color: #FFFFFF;
}
.btn a{
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color:#E02C6D;
    padding: 10px 24px;
}
.btn i{
    margin-left: 10px;
}
.btn a:hover{
    background-color: #FFFFFF;
    color: #E02C6D;
}
.right-header img{
    width: 556px;
    height: 438px;
}
/* main section styles */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F3F1FF;
    padding-top: 50px;
}
/* player section styles */
.players
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:27px ;
    line-height: 16px;
}
.player
{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 330px;
}
.player-img
{
    margin-bottom: 16px;
}
.player-img img{
    width: 300px;
    height: 256px;
    padding: 15px 0 0px 15px;

}
.player-info
{
    padding: 0px 0 15px 15px;
}
.player-info h2{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin: 0px;
    
}
.player-info p
{
    color: #6C6C6C;
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}
.btn-2 a:hover
{
    background-color: #18191F;
    color: #FFFFFF;
}
/* registration section styless */
.registration
{
    width: 1050px;
}
.registration-box
{
    display: flex;
    align-items: center;
    column-gap: 100px;
    background-color: #FFFFFF;
    margin-top: 50px;
    padding: 50px;
    border-radius: 5px;
}
.video-play-logo
{
    width: 400px;
    display: flex;
    align-items: center;
}
.video-play-logo h1{
    font-size: 40px;
    color: #0A0826;
}
.video-play-logo a i
{
    font-size: 100px;
    color: #6C6C6C;
}
.video-play-logo a i:hover
{
    color: #E02C6D;
}
.registration-form
{
    margin-left: 50px;
}
.registration-form legend
{
    padding: 20px;
    font-size: 30px;
    color: #E02C6D;
}
.registration-form input
{
    width: 95%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
}
.registration-btn button
{
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    color: #6C6C6C;
    border: 2px solid #E02C6D;
}
.registration-btn button:hover
{
    background-color: #E02C6D;
    color: #FFFFFF;
}
/* design highlights */

.highlights
{
    padding: 50px 0;
}
.highlights-matches
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    width: 1020px;
    background-color: #FFFFFF;
    padding: 30px 20px;
    grid-column-gap: 30px;
    border-radius: 5px;
}
.highlights-info h2{
    font-size: 48px;
    width: 700;
    color: #0A0826;
    margin: 0;
}
.highlights-img img{
    width: 500px;
    height: 427px;
}
/* news section styles */
.title
{
    text-align: center;
}
.news-wrap
{
    display: flex;

}
.news-box
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1050px;
    column-gap: 40px;
}
.news
{
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.news img
{
    width: 300px;
    height: 256px;
}
.details
{   
    height: 300px;
    overflow-y: scroll;
}
.details h2
{
    font-size: 20px;
}
/* footer section styles */
footer
{
    background-color: #F3F1FF;
    padding: 50px 0;
}
.footer
{
    width: 483px;
    height: 213px;
    text-align: center;
    margin: auto;
 
}
.footer-logo
{
    padding: 20px 0;
}
.footer-logo img
{
     width: 400px;

}
.footer-icon{
    width: 32px;
    height: 32px;
    display: inline;
   
}
.footer-icon i
{
    color: #969BAB;
    background-color: #E7E7E8;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 50px;
}
.footer-icon i:hover{
    color: #E02C6D;
}

/* media queries */
@media only screen and (max-width:688px)
{
    /* header media styless */
    .navbar nav
    {
        display: none;
    }
    .login
    {
        justify-content: flex-end;
        margin-left: 60%;
    }
    .container
    {
        flex-direction: column;
        padding: 0 20px;
    }
    .right-header img 
    {
        width: 90%;
        margin-top: 30px;
    }
    /* player media query */
    .players
    {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap:30px;
    grid-row-gap:27px ;
    line-height: 16px;
    }
    .player-img img 
    {
        width: 90%;
    }
    /* registration part media query */
    .registration
    {
        width: 100%;
    }
    .video-play-logo
    {
        
        width: 80%;
    }
    .registration-form
    {
        margin: 0;
        margin-left: -40px;  
    }
    .registration-form input,legend
    {
        width: 80%;
    }
    .registration-box
    {
        display:block;
        align-items: center;
        padding: 50px;
        width: 90%;
    }
    .highlights-matches
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%px;
    }
    .highlights-info
    {
        width: 90%;
        padding: 0 200px;
        margin: auto;
        box-sizing: border-box;
    }
    .highlights-img img {

        width: 90%;
        margin-top: 20px;
        padding: 10px 200px;
        box-sizing: border-box;
        margin-left: 50px;

    }
/* latest news media query */
    .news-box
    {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .news img {
        width: 100%;
    }
    .details
    {
        width: 100%;
    }
    /* footer are query */

    .footer
    {
        width: 70%;
        margin: auto;
    }
    .footer-logo img 
    {
        width: 70%;
        margin: auto;
    }
    .footer-icon
    {
        width: 70%;
        margin: auto;
    }
}